
/* body{
background: aqua;
} */
.block{
    /* background: rgba(255, 255, 255, 0.543); */
    width: 250px;
    margin:0 auto ;
    margin-top: 20px;
    margin-bottom: 150px;
    /* padding: 0 auto ; */
    padding: 15px;
    border-radius:20px ;
     text-align: center;
     box-shadow: -30px -4px 80px #046b6b,
     inset 30px 4px 80px -10px #fff,
     inset -40px -4px 50px -20px #046b6b,
     30px 4px 80px #fff;
   
     
}
#USD, #USE{
    /* margin-left: 35%; */
    border: none;
    outline: none;
    background:  rgba(255, 255, 255, 0.543);
    border-radius: 10px;
    padding-left: 20px;
    width: 100px;
}
.resalt{
    color:#144fe6ef;     
}